<%= form_with(model: message, url:(message.persisted? ? job_conversation_message_url(message.conversation.job, message.conversation, message) : job_conversation_messages_url), local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message_body %>
    <%= form.text_area :message_body, id: :message_message_body %>
  </div>

  <div class="field">
    <%= form.label :message_type %>
    <%= form.number_field :message_type, id: :message_message_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
