<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%- if @company.profile.attachment %>
      <%= image_tag @company.profile %>
  <%end%>
  <%= @company.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @company.user %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
